<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <h2>Students</h2>
           <hr>
        </div>
    </div>

    <div class="row row-content">
        <div class="col-xs-12">
            <div class="table-responsive">
                <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12]">
                <table class="table table-striped">
                    <tr>
                        <th>
                            <h3>Grade {{i}}</h3>
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                    <tr ng-repeat="student in students | filter:{grade:i}">
                        <td class="col-xs-6" style="text-align:right; padding-right:5em">
                            <strong>{{student.last_name}}</strong>, {{student.first_name}}
                        </td>
                        <td class="col-xs-1">
                            <button type="button" class="btn" ng-class="student.safe ? 'btn-success' : 'btn-default'" ng-click=toggleSafety(student)>Safe</button>
                        </td>
                        <td class="col-xs-1">
                            <button type="button" class="btn" ng-class="student.absent ? 'btn-success' : 'btn-default'" ng-click=toggleAbsence(student)>Absent</button>
                        </td>
                        <td class="col-xs-4">
                            &nbsp;
                        </td>
                    </tr>
                </table>
                </div>
        </div>
         <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
   </div>
</div>
