
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <h2>Update Records</h2>
               <hr>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12" style="text-align:center">
                <button class="btn btn-danger" ng-click=resetAll()>Reset All</button>
                <button class="btn btn-danger" ng-click=deleteAll()>Remove All</button>
            </div>
            <div class="col-xs-12">
               <p style="padding:20px;"></p>
           </div>
            <div class="col-xs-6">
                <div>
                <form class="form-horizontal" role="form" name="studentSearch">
                    <label for="student" class="col-sm-4 control-label">Find Student</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="student" name="student" placeholder="Student Name" ng-model="studentFilter">
                    </div>
                </form>
                </div>
                <div class="col-xs-12" ng-repeat="student in students | filter:studentFilter">
                    {{student.last_name}}, {{student.first_name}} - {{student.id}}&nbsp;<button type="button" class="btn btn-warning" ng-click=deleteStudent(student)>Delete</button>
                </div>
            </div>
            <div class="col-xs-6">
                <div>
                <form class="form-horizontal" role="form" name="staffSearch">
                    <label for="staff" class="col-sm-4 control-label">Find Staff</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="staff" name="staff" placeholder="Staff Name" ng-model="staffFilter">
                    </div>
                </form>
                </div>
                <div class="col-xs-12" ng-repeat="staff in staff | filter:staffFilter">
                    {{staff.last_name}}, {{staff.first_name}} - {{staff.id}}&nbsp;<button type="button" class="btn btn-warning" ng-click=deleteStaff(staff)>Delete</button>
                </div>
            </div>
       </div>

       <div class="row row-content">
           <div class="col-xs-12">
               <h3>Update Student Records</h3>
           </div>
           <div class="col-xs-12">
               <form class="form-horizontal" role="form" name="studentForm" ng-submit="sendStudent()" novalidate>
                   <div class="form-group">
                       <label for="id" class="col-sm-2 control-label">Student ID</label>
                       <div class="col-sm-10">
                           <input type="text" class="form-control" id="id" name="id" placeholder="Student ID"
                           ng-model="studentRecord.id">
                       </div>
                   </div>
                   <div class="form-group" ng-class="{ 'has-error' : studentForm.first_name.$error.required && !studentForm.first_name.$pristine }">
                       <label for="first_name" class="col-sm-2 control-label">First Name</label>
                       <div class="col-sm-10">
                       <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name"
                       ng-model="studentRecord.first_name" required>
                         <span ng-show="studentForm.first_name.$error.required && !studentForm.first_name.$pristine" class="help-block">A first name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : studentForm.last_name.$error.required && !studentForm.last_name.$pristine }">
                        <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name"
                        ng-model="studentRecord.last_name" required>
                        <span ng-show="studentForm.last_name.$error.required && !studentForm.last_name.$pristine" class="help-block">A last name is required.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : studentForm.grade.$error.required && !studentForm.grade.$pristine }">
                        <label for="grade" class="col-sm-2 control-label">Grade</label>
                        <div class="col-sm-2">
                        <input type="number" min="0" max="12" class="form-control" id="grade" name="grade" placeholder="Enter Grade Level"
                        ng-model="studentRecord.grade" required>
                        <span ng-show="studentForm.grade.$error.required && !studentForm.grade.$pristine" class="help-block">A grade level is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="studentForm.$invalid">Update Student</button>
                        </div>
                    </div>
               </form>
           </div>
            <div class="col-xs-12 col-sm-3">
               <p style="padding:20px;"></p>
           </div>
      </div>

      <div class="row row-content">
          <div class="col-xs-12">
              <h3>Update Staff Records</h3>
          </div>
          <div class="col-xs-12">
              <form class="form-horizontal" role="form" name="staffForm" ng-submit="sendStaff()" novalidate>
                  <div class="form-group">
                      <label for="id" class="col-sm-2 control-label">Staff ID</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="id" name="id" placeholder="Staff ID"
                          ng-model="staffRecord.id">
                      </div>
                  </div>
                  <div class="form-group" ng-class="{ 'has-error' : staffForm.first_name.$error.required && !staffForm.first_name.$pristine }">
                      <label for="first_name" class="col-sm-2 control-label">First Name</label>
                      <div class="col-sm-10">
                      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter First Name"
                      ng-model="staffRecord.first_name" required>
                        <span ng-show="staffForm.first_name.$error.required && !staffForm.first_name.$pristine" class="help-block">A first name is required.</span>
                       </div>
                   </div>
                   <div class="form-group" ng-class="{ 'has-error' : staffForm.last_name.$error.required && !staffForm.last_name.$pristine }">
                       <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                       <div class="col-sm-10">
                       <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter Last Name"
                       ng-model="staffRecord.last_name" required>
                       <span ng-show="staffForm.last_name.$error.required && !staffForm.last_name.$pristine" class="help-block">A last name is required.</span>
                       </div>
                   </div>
                   <div class="form-group" ng-class="{ 'has-error' : staffForm.username.$error.required && !staffForm.username.$pristine }">
                       <label for="username" class="col-sm-2 control-label">Username</label>
                       <div class="col-sm-2">
                       <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username"
                       ng-model="staffRecord.username" required>
                       <span ng-show="staffForm.username.$error.required && !staffForm.username.$pristine" class="help-block">A username is required.</span>
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="password" class="col-sm-2 control-label">Password</label>
                       <div class="col-sm-2">
                       <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"
                       ng-model="staffRecord.password">
                       </div>
                   </div>
                   <div class="form-group">
                       <label for="admin" class="col-sm-2 control-label">Admin?</label>
                       <div class="col-sm-2">
                       <input type="checkbox" class="form-control" id="admin" name="admin" ng-model="staffRecord.admin">
                       </div>
                   </div>
                   <div class="form-group">
                       <div class="col-sm-offset-2 col-sm-10">
                           <button type="submit" class="btn btn-primary" ng-disabled="staffForm.$invalid">Update Staff</button>
                       </div>
                   </div>
              </form>
          </div>
           <div class="col-xs-12 col-sm-3">
              <p style="padding:20px;"></p>
          </div>
     </div>
    </div>
