    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6" align=center>
                    <h5><i class="fa fa-shield"></i> Police</h5>
                    <address>
                        456 Protection Blvd<br>
                        Ourtown, ST<br>
                        54321<br>
                        <i class="fa fa-phone"></i>: 987 654 3210<br>
                        <i class="fa fa-warning"></i>: 911<br>
                    </address>
                </div>
                <div class="col-xs-6" align=center>
                    <h5><i class="fa fa-ambulance"></i> Fire/EMS</h5>
                    <address>
		              123 Safety Road<br>
		              Ourtown, ST<br>
		              54321<br>
		              <i class="fa fa-phone"></i>: 123 456 7890<br>
		              <i class="fa fa-warning"></i>: 911<br>
                    </address>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2016 Grunewald Design Associates</p>
                </div>
            </div>
        </div>
    </footer>
